/*quick Login Calss*/
.quickLiginSubmit {
	margin: 3px 0;
}
#UserAutoLogin{
	top: 0.15em;
	margin: 0;
}
.quickLoginCheckbox label{
	margin: 4px;
}
.quickLoginInner {
	background-color:#9AE4E8;
	border:3px solid silver;
	margin:0 auto;
	padding:5px 10px 5px 30px;
	width:224px;
}

p.quickLoginForPas {
	margin-bottom: 0;
}

/*reg - get started*/
.fildsetReg {
	background-color:#9AE4E8;
	border:3px solid silver;
	margin:1em;
}
.fildsetReg legend {
	background-color:white;
	border:3px solid silver;
	margin:0;
	padding:0 5px;
}
.reg {
	width:14.5em;
}
.reg a {
	display:block;
	border: 3px solid silver;
	margin: 30px auto;
	padding: 3px 10px;
	text-align:center;
	
	font-size: larger;
	text-decoration:none;
	font-weight: bold;
	background-color: #97CD39;
	color: #f2f2f2;
}
.reg a:hover {
	color: #fff;
	border: 3px solid #DFDFDF;
}

/*form classes*/

.inner_page {
	border: 1px solid #ccc;
	position: relative;
	height:1%;
}

.error-message {
	color:#8A1F11;
	font-weight:bold;
	margin-left:12em;
}
#UserUsername, #UserPassword, #UserPassword1, #UserPassword2,#UserEmail,#UserEmailReset {
	width: 206px;
	margin: 0 0 5px;
}
div.input {
	/*margin-bottom: 1em;*/
	float:left;
}
#UserLoginForm fieldset {
	width: 212px;
}
#UserGroupId {
	margin: 0;
} 
.formWrap label {
	margin: 0.1em 1em 0 0;
	float: left;
	width: 11em;
	text-align: right; 
}
div.formWrap  {
	/*background-color: inherit;*/
	margin: 0;
	padding: 0 0 1em 0;
	position:relative;
	height:1%;
}


div.error {
	border:none;
	background:none;
}
div.formWrap input.form-error {
	background-color: #FBC2C4;
}
.submit {
	margin: 1em 0 1em 14.5em;
	padding:0;
}
#ajimg {
	margin: 0 0 0 12em;
	padding: 0;
	height: 15px;
}
.greenMessage{
	margin: 0 0 0 12em;
	padding: 0;
	height: 15px;
}

/*login*/

.signup {
	z-index: 10;
	border: 1px solid #ccc;
	background-color: #efe;	
	margin: 20px 0 0 0;
	background-color: #4A4A4A;
	border: 7px solid #ccc;
	/*opacity: 0.8;*/
	/*filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80);*/
	cursor: move; 
	height: 70px;
}
.innerSignup {
	background-color:#000000;
	padding:10px 10px 10px 10px;
	text-align:center;
}
.innerSignup a{
	/*color:#FF8080;*/
	color:red;
	font-weight: bold;
	text-align: center;
	text-decoration:none;
}

.innerSignup a:hover{
	color:red;
	text-decoration:underline;
}  




.capchaImg {
	margin: 0 0 1em 12em;
}
#UserCaptcha {
	width: 120px;	
	margin:0;
}
.capchaImg p img {
	border: none;
	margin: 0;
	cursor: pointer;
}
.capReset {
	float: left;
	margin: 19px 19px 10px 19px;
	position:relative;
}
.capReset span {
	color: #808080;
	font-family:comic Sans MS;
	font-size:smaller;
	font-weight:bold;
	left:-5px;
	position:absolute;
	top:25px;
	width:150px;
}

#capImg {
	cursor: pointer;
}
.capPlace {
	/*background-image: url(../img/bg.jpg);*/
	background-color: #eee;
	border: 1px solid #7f9db9;
	
	width: 120px;
	height: 60px;
	float: left;
}
/*flash message*/
#flashMessage {
	position:absolute;
	width: 630px;
	background-color:#eee;
	margin:0px;
	font-weight:bold;
	font-size: 12pt;
	line-height:2.5em;
	text-align:center;
	overflow: hidden;
	opacity: .9;
	/*height:0;*/
	z-index:100;
}
div.er {
	color:red;
}
.fl {
	height:0%;
	z-index:100;
}
/*
* html fieldset{
    position: relative;
    margin-top:0em;
    padding-top:.75em;
}
* html legend{
	position:absolute;
	top: -0.5em;
 	left: 0.5em;
 	background-color:red;
}
*/
